@{
    ViewData["Title"] = "Authorization";
    Layout = "_Layout";
}
@section Imports
{
    <link rel="stylesheet" type="text/css" href="~/css/authorization.css" asp-append-version="true">
}

<div class="authorization-container">
    <div class="top-img">
        <div class="info-content">
            <div class="left"></div>
            <div class="right">
                <div class="info">
                    <h1>Welcome back!</h1>
                    <p>
                        We've missed you. Please enter your credentials to continue. Let's get started!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="left">
        <div class="content">
            <h1>Login here</h1>
            <div class="auth-form">
                <div>
                    <input class="form-input card-style" id="form-email-field" type="email" placeholder="Email">
                    <label for="form-email-field" class="error disable-selection">!</label>
                </div>
                <div>
                    <input class="form-input card-style" id="form-pass-field" type="password" placeholder="Password">
                    <label for="form-pass-field" class="error disable-selection">!</label>
                </div>
                <div class="card-style form-btn" onclick="adminLogin()">
                    <span>Login</span>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="content"></div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/authorization.js" asp-append-version="true"></script>
}