@{
    ViewData["Title"] = "Authorization";
    Layout = "_Layout";
}
@section Imports
{
    <link rel="stylesheet" type="text/css" href="~/css/authorization.css" asp-append-version="true">
}

<div class="authorization-container">
    <div class="top-img" data-auth-type="right">
        <div class="info-content" data-auth-type="right">
            <div class="left">
                <div class="info">
                    <h1>Welcome to our community!</h1>
                    <p>
                        To get started, please fill out the registration form with your details. If you already have an account, simply click on 'Login' to enter your credentials. Let's get started on this journey together!
                    </p>
                    <input class="card-style info-btn" type="button" value="Login" onclick="changeAuthType('right')">
                </div>
            </div>
            <div class="right">
                <div class="info">
                    <h1>Welcome back!</h1>
                    <p>
                        We've missed you. Please enter your credentials to continue. 
                        If you're new here, feel free to register and join our community. Let's get started!
                    </p>
                    <input class="card-style info-btn" type="button" value="Register" onclick="changeAuthType('left')">
                </div>
            </div>
        </div>
    </div>
    <div class="left" data-auth-type="right">
        <div class="content">
            <h1>Login here</h1>
            <form class="auth-form" action="" method="post">
                <input class="form-input card-style" name="email" type="email" placeholder="Email">
                <input class="form-input card-style" name="pass" type="password" placeholder="Password">
                <input class="form-btn card-style" type="button" value="Login">
            </form>
        </div>
    </div>
    <div class="right" data-auth-type="right">
        <div class="content">
            <h1>Register here</h1>
            <form class="auth-form" action="" method="post">
                <input class="form-input card-style" name="email" type="email" placeholder="Email">
                <input class="form-input card-style" name="pass" type="password" placeholder="Password">
                <input class="form-input card-style" name="repeat-pass" type="password" placeholder="Repeat password">
                <input class="form-btn card-style" type="button" value="Register">
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/authorization.js" asp-append-version="true"></script>
}