@{
    ViewData["Title"] = "Parking";
    Layout = "_Layout";
}
@section Imports
{
    <link rel="stylesheet" type="text/css" href="~/css/main.css" asp-append-version="true">
}

<div class="parking-display">
    <div class="card-style parking-floors-container"></div>
    <div class="card-style parking-floor-rows"></div>
</div>
<div class="menu-display">
    <div class="menu-opt-btns">
        <div class="disable-selection card-style menu-btn" data-btn="info">
            <span data-btn="info">Info</span>
        </div>
        <div class="disable-selection card-style menu-btn" data-btn="reservation">
            <span data-btn="reservation">Reservation</span>
        </div>
        <div class="disable-selection card-style menu-btn" data-btn="history">
            <span data-btn="history">History</span>
        </div>
        <div class="disable-selection card-style menu-btn" data-btn="settings">
            <span data-btn="settings">Settings</span>
        </div>
    </div>
    <div class="card-style menu-opt-content"></div>
</div>

@section Scripts
{
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/menu_navigation.js" asp-append-version="true"></script>
}
