/* _content/ParkingApplication.PL/Views/Shared/_Layout.cshtml.rz.scp.css */
body[b-knqq9zibiv] {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

header[b-knqq9zibiv] {
    height: 60px !important;
    background-color: var(--card-color-hover-1);
}

main[b-knqq9zibiv], .container[b-knqq9zibiv] {
    height: 100%;
    width: 100%;
}
